<div ng-controller="AdminController as controller">
	<nav class="navbar navbar-default navbar-top title-bar">
		<h1>Administration<small>Application settings</small></h1>
	</nav>
	<div class="home-container">
		<div class="col-md-12">
			<div class="panel panel-container">
				<div ng-show="settings === undefined" class="well well-bg">
					<h1><i class="fa fa-circle-o-notch fa-spin fa-fw"></i> Preparing settings!</h1>
					<p>We are preparing the settings for Galaksio, please wait!</p>
				</div>
				<form ng-show="settings !== undefined" class="form-horizontal">
					<h2>Galaksio server settings</h2>
					<div class="well well-md text-info">
						<p><i class="fa fa-info-circle" ></i> Use this section to configure the main settings for your Galaksio server.</p>
						<p>Use the <i class="fa fa-question-circle" ></i> icon at the right for getting help for any field in the form.</p>
					</div>
					<div class="form-group" ng-hide="settings.IS_DOCKER">
						<label class="control-label col-sm-2" for="SERVER_HOST_NAME">Galaksio host name:</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="SERVER_HOST_NAME" ng-model="settings.SERVER_HOST_NAME" ng-required="true">
						</div>
						<i style="color: #31708f;line-height: 30px;" class="fa fa-question-circle" uib-tooltip="The IP address for Galaksio. Leave 0.0.0.0 to listen to all requests."></i>
					</div>
					<div class="form-group" ng-hide="settings.IS_DOCKER">
						<label class="control-label col-sm-2" for="SERVER_PORT_NUMBER">Galaksio port number:  </label>
						<div class="col-sm-9">
							<input type="number" class="form-control" id="SERVER_PORT_NUMBER" ng-model="settings.SERVER_PORT_NUMBER" ng-required="true">
						</div>
						<i style="color: #31708f;line-height: 30px;" class="fa fa-question-circle" uib-tooltip="The port number that Galaksio listens for requests."></i>
					</div>
					<div class="form-group" ng-hide="settings.IS_DOCKER">
						<label class="control-label col-sm-2" for="SERVER_SUBDOMAIN">Galaksio subdomain:</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" placeholder="None" id="SERVER_SUBDOMAIN" ng-model="settings.SERVER_SUBDOMAIN">
						</div>
						<i style="color: #31708f;" class="fa fa-question-circle" uib-tooltip="Use this option if Galaksio does not run behind a proxy server but requires a specific subdomain, e.g. http://myserver.com/galaksio."></i>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="MAX_CONTENT_LENGTH">Max. content size:  </label>
						<div class="col-sm-9">
							<input type="number" class="form-control" id="MAX_CONTENT_LENGTH" ng-model="settings.MAX_CONTENT_LENGTH" ng-required="true">
						</div>
						<i style="color: #31708f;line-height: 30px;" class="fa fa-question-circle" uib-tooltip="The max size for the requests sent by the clients, in MB."></i>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="SAFE_UPLOAD">Safe upload:</label>
						<div class="col-sm-9">
							<div class="checkbox">
								<label><input type="checkbox" id="SAFE_UPLOAD" ng-model="settings.SAFE_UPLOAD"> Use safe upload</label>
							</div>
						</div>
						<i style="color: #31708f;line-height: 30px;" class="fa fa-question-circle" uib-tooltip="Whether use normal file upload or safe upload. Safe upload will temporary store the uploaded file in the Galaksio server before send it to Galaxy. Normal upload will send them on the fly, which is much faster but sometimes could fail."></i>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="ADMIN_ACCOUNTS">Admin accounts:  </label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="ADMIN_ACCOUNTS" ng-model="settings.ADMIN_ACCOUNTS" ng-required="true">
						</div>
						<i style="color: #31708f;line-height: 30px;" class="fa fa-question-circle" uib-tooltip="Accounts that have administration rights. Use emails separated by commas."></i>
					</div>
					<div class="form-group" ng-hide="settings.IS_DOCKER">
						<label class="control-label col-sm-2" for="ROOT_DIRECTORY">Galaksio root directory:  </label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="ROOT_DIRECTORY" ng-model="settings.ROOT_DIRECTORY" placeholder="Leave empty to auto-detect">
						</div>
						<i style="color: #31708f;line-height: 30px;" class="fa fa-question-circle" uib-tooltip="The location for the Galaksio files, leave blank to auto-detect."></i>
					</div>
					<h2>Galaxy settings</h2>
					<div class="well well-md text-info">
						<p><i class="fa fa-info-circle" ></i> Configure the Galaxy instance that will be connected to this Galaksio instance.</p>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="GALAXY_SERVER">Galaxy server URL (internal):  </label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="GALAXY_SERVER" ng-model="settings.GALAXY_SERVER" ng-required="true">
						</div>
						<i style="color: #31708f;line-height: 30px;" class="fa fa-question-circle" uib-tooltip="The internal URL or IP for the Galaxy instance that will receive all the Galaksio requests. If you are using a dockerized version of Galaksio and Galaxy, this value should be the internal name used for linking the containers (e.g. by default http://galaxy_machine)"></i>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="GALAXY_SERVER_URL">Galaxy server URL (external):  </label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="GALAXY_SERVER_URL" ng-model="settings.GALAXY_SERVER_URL">
						</div>
						<i style="color: #31708f;line-height: 30px;" class="fa fa-question-circle" uib-tooltip="The external URL for the Galaxy instance, leave empty if it is the same than previous setting (Galaxy server)."></i>
					</div>
					<h2>Email settings</h2>
					<div class="well well-md text-info">
						<p><i class="fa fa-info-circle" ></i> Using this email settings your Galaksio instance will be able to send all the error reports to the Galaksio developers.</p>
						<p>Your feedback helps us to improve the application and we will really appreciate it and all received information will be considered confidential and treated accordingly.</p>
						<p>Leave this part empty if you don't want to disable error reporting.</p>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="SMTP_SERVER">SMTP host:  </label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="SMTP_SERVER" ng-model="settings.SMTP_SERVER">
						</div>
						<i style="color: #31708f;line-height: 30px;" class="fa fa-question-circle" uib-tooltip="Sets Gmail, Office... as the SMTP server"></i>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="SMTP_PORT">SMTP port:  </label>
						<div class="col-sm-9">
							<input type="number" class="form-control" id="SMTP_PORT" ng-model="settings.SMTP_PORT">
						</div>
						<i style="color: #31708f;line-height: 30px;" class="fa fa-question-circle" uib-tooltip="Sets the SMTP port for the GMAIL"></i>
					</div>
					<!-- <div class="form-group">
						<label class="control-label col-sm-2" for="smtp_port">SMTP authentication:</label>
						<div class="col-sm-9">
							<div class="checkbox">
								<label><input type="checkbox" id="use_smtp_auth" ng-model="settings.use_smtp_auth"> Enabled</i></label>
							</div>
						</div>
						<i style="color: #31708f;line-height: 30px;" class="fa fa-question-circle" uib-tooltip="Enable SMTP authentication"></i>
					</div> -->
					<!-- <div class="form-group">
						<label class="control-label col-sm-2" for="smtp_port">SMTP SSL:</label>
						<div class="col-sm-9">
							<div class="checkbox">
								<label><input type="checkbox" id="use_smtp_ssl" ng-model="settings.use_smtp_ssl"> Use SMTP SSL</label>
							</div>
						</div>
						<i style="color: #31708f;line-height: 30px;" class="fa fa-question-circle" uib-tooltip="Whether use normal SMTP or SMTP_SSL"></i>
					</div> -->
					<!-- <div class="form-group">
						<label class="control-label col-sm-2" for="smtp_secure">SMTP secure:  </label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="smtp_secure" ng-model="settings.smtp_secure">
						</div>
						<i style="color: #31708f;line-height: 30px;" class="fa fa-question-circle" uib-tooltip="Use tls, etc."></i>
					</div> -->
					<div class="form-group">
						<label class="control-label col-sm-2" for="SMTP_ACCOUNT">Username:  </label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="SMTP_ACCOUNT" ng-model="settings.SMTP_ACCOUNT">
						</div>
						<i style="color: #31708f;line-height: 30px;" class="fa fa-question-circle" uib-tooltip="The email account for sending emails, depends on the smtp settings."></i>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="SMTP_PASS">Password:</label>
						<div class="col-sm-9">
							<input type="password" class="form-control" id="SMTP_PASS" ng-model="settings.SMTP_PASS">
						</div>
						<i style="color: #31708f;line-height: 30px;" class="fa fa-question-circle" uib-tooltip="The password for the email account used for sending the emails."></i>
					</div>
					<!-- <div class="form-group">
						<label class="control-label col-sm-2" for="smpt_sender">Sender email:</label>
						<div class="col-sm-9">
							<input type="email" class="form-control" id="smpt_sender" ng-model="settings.smpt_sender">
						</div>
						<i style="color: #31708f;line-height: 30px;" class="fa fa-question-circle" uib-tooltip="Sender email (From value at the email)"></i>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="smpt_sender_name">Sender email:</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="smpt_sender_name" ng-model="settings.smpt_sender_name">
						</div>
						<i style="color: #31708f;line-height: 30px;" class="fa fa-question-circle" uib-tooltip="Sender name (the \"From\" value in the email)"></i>
					</div> -->
					<div class="form-group">
						<div style=" text-align: center; ">
							<a ng-show="isLoading !== true" class="btn btn-success btn-lg" ng-click="controller.updateSettingsHandler()">Update settings</a>
							<a ng-show="isLoading === true" disabled class="btn btn-default btn-lg"><i class="fa fa-spinner fa-spin fa-fw"></i> Saving</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
