<!DOCTYPE html>
<html ng-app="b3galaxyApp">
  <head>
    <title>B3Galaxy v0.1</title>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->
    <!-- <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400' rel='stylesheet' type='text/css'> -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">

    <!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script> -->
    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js"></script> -->
    <script type="text/javascript" src="js/lib/angular.min.js"></script>
    <script type="text/javascript" src="js/lib/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="js/lib/ui-bootstrap-tpls-1.3.2.min.js"></script>
    <script type="text/javascript" src="js/lib/toArrayFilter.js"></script>
  </head>

  <body>

    <div id="wrapper">
      <header>
        <nav class="navbar navbar-default navbar-fixed-top" ng-controller="MainController as controller">
          <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><a href="#"><img src="css/galaxy_logo.png" width="250" style="float: left;"></a></li>
                <li ng-repeat="page in content"> <a ng-click="setPage(page)">{{page}}</a></li>
            </ul>
          </div>
        </nav>
      </header>
        <div id="page-content-wrapper">
            <div class="container-fluid">
              <div ui-view></div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->

    <script type="text/javascript" src="js/common.js"></script>
    <script type="text/javascript" src="js/users.js"></script>
    <script type="text/javascript" src="js/workflows.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
  </body>
</html>
