/*@font-face {
font-family: 'Open Sans';
src: url('fonts/OpenSans-Light.ttf');
}*/

body{
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
}

.btn {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

header {
  margin-top: 15px;
  margin-bottom: 10px;
  background-color: #2B3143;
  height: 90px;
}
header .navbar-default{
  background: #2B3143;
}


header .navbar-default .navbar-nav>li>a {
  line-height: 70px;
  font-size: 35px;
  color: #AFAFAF;
}


#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
div#page-content-wrapper {
  max-width: 1024px;
  margin: auto;
  display: block;
}

/******************************************************************************************/
/* STYLES FOR DIAGLOS                                                             */
/******************************************************************************************/
.modal-error .modal-header {
  background: #D2322D;
  color: #FFFFFF;
}
.modal-error .modal-body {
  color: #A9211E;
}
.modal-info .modal-header {
  background: #428BCA;
  color: #FFFFFF;
}
.modal-success .modal-header {
  background: #5CB85C;
  color: #FFFFFF;
}
.modal-warning .modal-header {
  background: #F0AD4E;
  color: #FFFFFF;
}
.modal-confirmation .modal-header {
  background: #286090;
  color: #FFFFFF;
}

/******************************************************************************************/
/* STYLES FOR progress INDICATOR                                                          */
/******************************************************************************************/
.progressIndicator {
  text-align: center;
  max-width: 700px;
  margin: auto;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.progressIndicator .background-bar {
  position: absolute;
  width: 100%;
  background: #D4D4D4;
  height: 2px;
  max-width: 700px;
  margin-top: 33px;
}
.progressIndicator .progressStep {
  color: #D4D4D4;
  font-weight: bold;
  font-size: 15px;
}
.progressIndicator .progressStep.currentStep {
  color: #009CDE;
}
.progressIndicator .progressStep.doneStep {
  color: #54BF78;
}
.progressIndicator .stepNumber, .progressIndicator .stepDone {
  font-size: 35px;
  border: 3px solid #ffffff;
  background-color: #D4D4D4;
  padding: 2px 17px;
  display: inline-block;
  border-radius: 50%;
  margin-bottom: 5px;
  color: #ffffff;
}
.progressIndicator .stepDone {
  display: none;
  padding: 2px 10px;
}
.progressIndicator .doneStep .stepNumber {
  display: none;
}
.progressIndicator .doneStep .stepDone {
  display: inline-block;
  background: #54BF78;
  color: white;
}
.progressIndicator .currentStep .stepNumber {
  background: #009CDE;
}
.progressStepContainer {
  margin-bottom: 75px;
}
.progressNavigator{
  padding: 10px 0px;
}
.progressNavigator > div.container{
  max-width: 900px;
}
.progressStep .description {
  margin-bottom: 15px;
}
/******************************************************************************************/
/* STYLES FOR WORKFLOW PANELS                                                             */
/******************************************************************************************/

/*------------------------------------------------------*/
/*STYLES FOR WORKFLOW LIST                              */
/*------------------------------------------------------*/
.workflow-toolbar{
  margin: 60px 0px 0px 0px;
  background-color: #FAFAFA;
  max-width: none;
  height: 100px;
}
i.tooltip-tag-cat {
  font-style: normal;
  font-size: 12px;
  margin: 3px 2px;
  display: inline-block;
  text-align: center;
}
span.tooltip-tag-cat-times {
  display: inline-block;
  border: 1px solid #333;
  padding: 0px 6px;
  margin-top: 10px;
  border-radius: 5px;
}
span.tooltip-tag-cat-name {
  padding: 0px 4px;
}
.currentSearchTagContainer span.tooltip-tag-cat-name {
  border: 1px solid #333;
  border-radius: 4px;
}
.workflow-card-container {
  background: #D9DBDA;
  max-width: none;
  padding: 10px 30px;
  margin-top: 40px;
}
.workflow-card {
  min-height: 180px;
  margin: 5px;
}
.workflow-card-body {
  padding: 10px 5px;
  background: #ffffff;
  border: 1px solid #BFBFBF;
  border-radius: 4px 4px 0px 0px;
  min-height: 175px;
  max-height: 175px;
  overflow: hidden;
}
.workflow-card h2.workflow-card-name {
  font-size: 18px;
  color: #333;
  max-height: 60px;
  overflow: hidden;
}
.workflow-card div.workflow-card-description {
  font-size: 12px;
  color: #d3d3d3;
  max-height: 80px;
  overflow: hidden;
}
.workflow-card-author {
  background: #F7F7F7;
  border: 1px solid #BFBFBF;
  border-top: 0px;
  font-size: 15px;
  padding: 10px;
}
.workflow-card-description {
  font-style: italic;
  color: #8A8A8A;
}
.workflow-card-tags-list {
  padding: 10px 0px;
  max-height: 35px;
  overflow: hidden;
}
i.workflow-card-tag {
  font-style: normal;
  display: inline-block;
  padding: 3px;
  border: 1px solid #333;
  border-radius: 5px;
  font-size: 10px;
  margin: 0px 2px
}
.workflow-card a.runWorkflowButton {
  width: 100%;
  border-radius: 0px 0px 4px 4px;
}
/*------------------------------------------------------*/
/*STYLES FOR WORKFLOW RUN FORM                          */
/*------------------------------------------------------*/
select.ng-invalid-required, input.ng-invalid-required {
  border: 1px solid #E88080;
}
select.ng-valid-required, input.ng-valid-required {
  border: 1px solid #54BF78;
}
.invalidFormMessage{
  color: #E88080;
}
step-input {
  display: block;
  margin-top: 5px;
}
step-input input, step-input i {
  margin-left: 10px;
}
step-input input[type=checkbox] {
  margin-right: 10px;
}
step-input i {
  display: block;
}

step-input .inputRepeatItem {
  font-size: 12px;
  margin: 5px 0px;
  border-left: 3px solid #CEA81D;
  padding-left: 10px;
}

h1.workflow-status-title {
  text-align: center;
  font-size: 70px;
  color: #5796B1;
  text-shadow: 1px 3px 2px #D4D4D4;
}

.flip-container {
  perspective: 1000px;
}
/* flip the pane when hovered */
.flip-container.flipped .flipper {
  transform: rotateY(180deg);
}

.flip-container, .front, .back {
  width: 320px;
  height: 480px;
  margin: auto;
  text-align: center;
}

/* flip speed goes here */
.flipper {
  transition: 0.5s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}
