<div >
	<nav class="navbar navbar-default navbar-top title-bar">
		<h1>Dashboard <small></small></h1>
	</nav>
	<div class="home-container">
		<div class="col-md-12">
			<div class="panel panel-container" style="height: 135px;background-image: url('css/home_back_science.png');">
				<h1>Welcome to Galaksio</h1>
				<h4 style=" color: #6194bf; ">A simple but effective way to use Galaxy.</h4>
			</div>
		</div>
		<div class="col-md-6">
			<user-session-info-panel style="height: 170px;"></user-session-info-panel>
		</div>
		<div class="col-md-6" >
			<div class="panel panel-container" style="height: 170px; font-size: 16px;">
				<h4>Resources</h4>
				<ul>
					<li>
						<a href="{{GALAXY_SERVER_URL}}" target="_blank">Go to Galaxy server</a>
						<img src="css/galaxy_logo.png" style=" height: 15px; display: inline-block; border-radius: 10px; margin: auto; ">
					</li>
					<li>
						<a href="http://galaksio.readthedocs.io/en/feature-doc/1_4_quick_start/" target="_blank">Galaksio quick tips</a>
						<i class="tag blue">Learn</i>
					</li>
					<li>
						<a href="https://wiki.galaxyproject.org/Learn" target="_blank">Galaxy tutorials</a>
						<i class="tag yellow">Official</i>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-md-6" ng-controller="WorkflowInvocationListController as controller">
			<div class="panel panel-container">
				<h4>Workflow invocations</h4>
				<div style="text-align: center; padding: 10px;" class="bg-info" ng-show="isLoading === false && invocations.length === 0">
					<h5><i>Whoops! Looks like there are no workflows in the queue.</i></h5>
					<button class="btn btn-info " ui-sref="workflows()">
						<i class="fa fa-sign-out fa-fw"></i>Let's run some workflows!
					</button>
				</div>
				<table class="table" style="width:100%" ng-show="isLoading === true || invocations.length > 0" ng-init="maxInvocations=5">
					<tr><th>Workflow name</th><th style="width:90px">Date</th><th style="width:90px">State</th><th style="width:110px;">Tools</th></tr>
					<tr ng-if="isLoading === true ">
						<td colspan="4" style="text-align:center;">
							<i class="fa fa-spinner fa-pulse fa-fw"></i> Loading invocations...
						</td>
					</tr>
					<tr ng-repeat="invocation in invocations | orderBy:'-update_time' | limitTo:maxInvocations track by $index " >
						<td>{{invocation.workflow_title}}</td>
						<td style=" font-size: 10px; ">{{adaptInvocationDate(invocation.update_time)}}</td>
						<td class="job-status-cat"  ng-if="invocation.state === 'success'">
							<span class="fa-stack" style="font-size: 12px;">
								<i class="fa fa-square fa-stack-2x" style="color:#00b353;"></i>
								<i class="fa fa-check fa-fw fa-stack-1x fa-inverse"></i>
							</span>
							<span class="job-status-cat-title">Done</span>
						</td>
						<td class="job-status-cat" ng-if="invocation.state === 'sending'">
							<span class="fa-stack" style="font-size: 12px;">
								<i class="fa fa-square fa-stack-2x" style="color:#6485ea;"></i>
								<i class="fa fa-paper-plane fa-fw fa-stack-1x fa-inverse"></i>
							</span>
							<span class="job-status-cat-title">Sending</span>
						</td>
						<td class="job-status-cat" ng-if="invocation.state === 'working'">
							<span class="fa-stack" style="font-size: 12px;">
								<i class="fa fa-square fa-stack-2x" style="color:#b900ff;"></i>
								<i class="fa fa-refresh fa-spin fa-fw fa-stack-1x fa-inverse"></i>
							</span>
							<span class="job-status-cat-title">Running</span>
						</td>
						<td class="job-status-cat" ng-if="invocation.state === 'waiting'">
							<span class="fa-stack" style="font-size: 12px;">
								<i class="fa fa-square fa-stack-2x" style="color:#666666;"></i>
								<i class="fa fa-pause fa-fw fa-stack-1x fa-inverse"></i>
							</span>
							<span class="job-status-cat-title">Waiting</span>
						</td>
						<td  class="job-status-cat" ng-if="invocation.state === 'error'">
							<span class="fa-stack" style="font-size: 12px;">
								<i class="fa fa-square fa-stack-2x" style="color:#de2b2b;"></i>
								<i class="fa fa-times fa-fw fa-stack-1x fa-inverse"></i>
							</span>
							<span class="job-status-cat-title">Failed</span>
						</td>
						<td  class="job-status-cat" ng-if="['error', 'waiting', 'working', 'sending', 'success'].indexOf(invocation.state) === -1">
							<span class="fa-stack" style="font-size: 12px;">
								<i class="fa fa-square fa-stack-2x" style="color:#dedede;"></i>
								<i class="fa fa-question fa-fw fa-stack-1x fa-inverse"></i>
							</span>
							<span class="job-status-cat-title">Unknown</span>
						</td>
						<td style="font-size:10px; vertical-align:middle;">
							<a class="clickable" ng-click="controller.recoverWorkflowInvocation(invocation)">
								<i class="fa fa-undo" aria-hidden="true"></i> Recover
							</a>
							<a class="text-danger clickable" style="margin-left:5px" ng-click="controller.removeWorkflowInvocation(invocation)">
								<i class="fa fa-trash" aria-hidden="true"></i> Clean
							</a>
						</td>
					</tr>
				</table>
				<div style="text-align: center; padding: 10px;" ng-show="invocations.length > 0">
					<button ng-show="invocations.length > maxInvocations" class="btn btn-default" ng-click="maxInvocations = maxInvocations + 5;">
						<i class="fa fa-plus fa-fw"></i>Show more invocations
					</button>
					<button class="btn btn-info " ui-sref="workflows()">
						<i class="fa fa-sign-out fa-fw"></i>Let's run more workflows!
					</button>
				</div>
			</div>
		</div>
		<div class="col-md-6" ng-controller="HistoryListController as controller">
			<div class="panel panel-container">
				<a class="btn btn-default btn-sm navbar-right" ui-sref="histories()">
					<i class="fa fa-history fa-fw" ></i> Change history
				</a>
				<h4>Current history</h4>
				<p><b>History name: </b>{{displayedHistory.name}}</p>
				<dataset-list-panel ng-init="maxDatasets=10;"></dataset-list-panel>
			</div>
		</div>
	</div>
</div>
