<div >
	<nav class="navbar navbar-default navbar-top title-bar">
		<h1>Dashboard <small></small></h1>
	</nav>
	<div class="home-container">
		<div class="col-md-12">
			<div class="panel panel-container" style="height: 135px;background-image: url('css/home_back_science.png');">
				<h1>Welcome to Galaxy <i>slim</i></h1>
				<h4 style=" color: #6194bf; ">A simple but effective way to use Galaxy.</h4>
			</div>
		</div>
		<div class="col-md-6" ng-controller="UserSessionController as controller">
			<div class="panel panel-container" style="height: 170px;">
				<h4>Your account</h4>
				<p><b>Signed in as </b> <i>{{email}}</i></p>
				<button class="btn btn-danger btn-sm" ng-click="controller.signOutButtonHandler()">
					<i class="fa fa-sign-out fa-fw" ></i> Close session
				</button>
			</div>
		</div>
		<div class="col-md-6" >
			<div class="panel panel-container" style="height: 170px; font-size: 16px;">
				<h4>Resources</h4>
				<ul>
					<li>
						<a href="' + GALAXY_SERVER_URL + '" target="_blank">Go to local Galaxy site</a>
						<img src="css/galaxy_logo.png" style=" height: 15px; display: inline-block; border-radius: 10px; margin: auto; ">
					</li>
					<li>
						<!--  TODO -->
						<a href="https://readthedocs.org/builds/paintomics/" target="_blank">Galaxy <i>slim</i> quick tips</a>
						<i class="tag blue">Learn</i>
					</li>
					<li>
						<a href="https://wiki.galaxyproject.org/Learn" target="_blank">Galaxy tutorials</a>
						<i class="tag blue">Learn</i>
					</li>
					<li>
						<a href="https://usegalaxy.org/" target="_blank">Go to official Galaxy site</a>
						<i class="tag yellow">Official</i>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-md-6" ng-controller="WorkflowInvocationListController as controller">
			<div class="panel panel-container">
				<h4>Workflow queue</h4>
				<div style="text-align: center; padding: 10px;" class="bg-info" ng-show="invocations.length === 0">
					<h5><i>Whoops! Looks like there are no workflows in the queue.</i></h5>
					<button class="btn btn-info " ui-sref="workflows()">
						<i class="fa fa-sign-out fa-fw"></i>Let's run some workflows!
					</button>
				</div>
				<table class="table" style="width:100%" ng-show="invocations.length > 0">
					<tr><th>Workflow name</th><th>State</th><th style="width:75px;"></th></tr>
					<tr ng-repeat="invocation in invocations track by $index" >
						<td>{{invocation.workflow_title}}</td>
						<td class="job-status-cat"  ng-if="invocation.state === 'success'">
							<span class="fa-stack" style="font-size: 12px;">
								<i class="fa fa-square fa-stack-2x" style="color:#00b353;"></i>
								<i class="fa fa-check fa-fw fa-stack-1x fa-inverse"></i>
							</span>
							<span class="job-status-cat-title">Done</span>
						</td>
						<td class="job-status-cat" ng-if="invocation.state === 'working'">
							<span class="fa-stack" style="font-size: 12px;">
								<i class="fa fa-square fa-stack-2x" style="color:#b900ff;"></i>
								<i class="fa fa-refresh fa-spin fa-fw fa-stack-1x fa-inverse"></i>
							</span>
							<span class="job-status-cat-title">Running</span>
						</td>
						<td  class="job-status-cat" ng-if="invocation.state === 'erroneous'">
							<span class="fa-stack" style="font-size: 12px;">
								<i class="fa fa-square fa-stack-2x" style="color:#de2b2b;"></i>
								<i class="fa fa-times fa-fw fa-stack-1x fa-inverse"></i>
							</span>
							<span class="job-status-cat-title">Running</span>
						</td>
						<td>
							<a style="font-size:12px; cursor:pointer" ng-click="controller.recoverWorkflowInvocation(invocation)">
								<i class="fa fa-undo" aria-hidden="true"></i> Recover
							</a>
						</td>
					</tr>
				</table>
				<div style="text-align: center; padding: 10px;" ng-show="invocations.length > 0">
					<button class="btn btn-info " ui-sref="workflows()">
						<i class="fa fa-sign-out fa-fw"></i>Let's run more workflows!
					</button>
				</div>
			</div>
		</div>
		<div class="col-md-6" ng-controller="HistoryListController as controller">
			<div class="panel panel-container">
				<a class="btn btn-default btn-sm navbar-right" ui-sref="histories()">
					<i class="fa fa-history fa-fw" ></i> Change history
				</a>
				<h4>Current history</h4>
				<p><b>History name: </b>{{displayedHistory.name}}</p>
				<dataset-list-panel ng-init="maxDatasets=10;"></dataset-list-panel>
			</div>
		</div>
	</div>
</div>
