<div ng-controller="WorkflowInvocationListController as controller" class="invocationListToolbar">
	<div ng-mouseenter="showPanel = true" ng-mouseleave="showPanel = false">
		<span class="job-status-cat" ng-show="running > 0">
			<span class="fa-stack" style="font-size: 12px;">
				<i class="fa fa-square fa-stack-2x" style="color:#b900ff;"></i>
				<i class="fa fa-refresh fa-spin fa-fw fa-stack-1x fa-inverse"></i>
			</span>
			<span class="job-number">{{running}}</span>
			<span class="job-status-cat-title">Running</span>
		</span>
		<span class="job-status-cat" ng-show="done > 0">
			<span class="fa-stack" style="font-size: 12px;">
				<i class="fa fa-square fa-stack-2x" style="color:#00b353;"></i>
				<i class="fa fa-check fa-fw fa-stack-1x fa-inverse"></i>
			</span>
			<span class="job-number">{{done}}</span>
			<span class="job-status-cat-title">Done</span>
		</span>
		<span class="job-status-cat" ng-show="waiting > 0">
			<span class="fa-stack" style="font-size: 12px;">
				<i class="fa fa-square fa-stack-2x" style="color:#666666;"></i>
				<i class="fa fa-pause fa-fw fa-stack-1x fa-inverse"></i>
			</span>
			<span class="job-number">{{waiting}}</span>
			<span class="job-status-cat-title">Waiting</span>
		</span>
		<span class="job-status-cat" ng-show="erroneous > 0">
			<span class="fa-stack" style="font-size: 12px;">
				<i class="fa fa-square fa-stack-2x" style="color:#de2b2b;"></i>
				<i class="fa fa-times fa-fw fa-stack-1x fa-inverse"></i>
			</span>
			<span class="job-number">{{erroneous}}</span>
			<span class="job-status-cat-title">Failed</span>
		</span>
		<span ng-show="isLoading" class="job-status-cat" >
			<span class="fa-stack" style="font-size: 12px;">
				<i class="fa fa-stack-2x"></i>
				<i class="fa fa-spinner fa-pulse fa-fw fa-stack-1x fa-inverse"></i>
			</span>
			<span class="job-status-cat-title">Loading...</span>
		</span>
	</div>
	<div class="panel" ng-mouseenter="showPanel = true" ng-mouseleave="showPanel = false" ng-show="showPanel === true">
		<table style="width:100%" ng-init="maxInvocations=5">
			<tr><th>Workflow name</th><th style="width:90px">Date</th><th style="width:90px">State</th><th style="width:75px;">Tools</th></tr>
			<tr ng-show="invocations.length === 0"><td colspan="4">No data</td></tr>
			<tr style="border-top: 1px solid #ddd;"ng-repeat="invocation in invocations | orderBy:'-update_time' | limitTo:maxInvocations track by $index " >
				<td>{{invocation.workflow_title}}</td>
				<td style="font-size: 10px;">{{adaptInvocationDate(invocation.update_time)}}</td>
				<td class="job-status-cat" ng-if="invocation.state === 'success'">
					<span class="fa-stack" style="font-size: 12px;">
						<i class="fa fa-square fa-stack-2x" style="color:#00b353;"></i>
						<i class="fa fa-check fa-fw fa-stack-1x fa-inverse"></i>
					</span>
					<span style="color: #000;" class="job-status-cat-title">Done</span>
				</td>
				<td class="job-status-cat" ng-if="invocation.state === 'sending'">
					<span class="fa-stack" style="font-size: 12px;">
						<i class="fa fa-square fa-stack-2x" style="color:#6485ea;"></i>
						<i class="fa fa-paper-plane fa-fw fa-stack-1x fa-inverse"></i>
					</span>
					<span style="color: #000;" class="job-status-cat-title">Sending</span>
				</td>
				<td class="job-status-cat" ng-if="invocation.state === 'working'">
					<span class="fa-stack" style="font-size: 12px;">
						<i class="fa fa-square fa-stack-2x" style="color:#b900ff;"></i>
						<i class="fa fa-refresh fa-spin fa-fw fa-stack-1x fa-inverse"></i>
					</span>
					<span style="color: #000;" class="job-status-cat-title">Running</span>
				</td>
				<td class="job-status-cat" ng-if="invocation.state === 'waiting'">
					<span class="fa-stack" style="font-size: 12px;">
						<i class="fa fa-square fa-stack-2x" style="color:#666666;"></i>
						<i class="fa fa-pause fa-fw fa-stack-1x fa-inverse"></i>
					</span>
					<span style="color: #000;" class="job-status-cat-title">Waiting</span>
				</td>
				<td  class="job-status-cat" ng-if="invocation.state === 'error'">
					<span class="fa-stack" style="font-size: 12px;">
						<i class="fa fa-square fa-stack-2x" style="color:#de2b2b;"></i>
						<i class="fa fa-times fa-fw fa-stack-1x fa-inverse"></i>
					</span>
					<span style="color: #000;" class="job-status-cat-title">Failed</span>
				</td>
				<td class="job-status-cat" ng-if="['error', 'waiting', 'working', 'sending', 'success'].indexOf(invocation.state) === -1">
					<span class="fa-stack" style="font-size: 12px;">
						<i class="fa fa-square fa-stack-2x" style="color:#dedede;"></i>
						<i class="fa fa-question fa-fw fa-stack-1x fa-inverse"></i>
					</span>
					<span style="color: #000;" class="job-status-cat-title">Unknown</span>
				</td>
				<td>
					<a class="clickable" style="font-size:10px; vertical-align:middle;" ng-click="controller.recoverWorkflowInvocationHandler(invocation)">
						<i class="fa fa-undo" aria-hidden="true"></i> Recover
					</a>
				</td>
			</tr>
			<tr ng-show="invocations.length > 5">
				<td colspan="4" style="padding-top:10px;text-align: center;">
					<a class="btn btn-sm btn-primary" ui-sref="home()"><i class="fa fa-plus fa-fw"></i> Show more invocations</a></td>
			</tr>
		</table>
	</div>
</div>
