<div ng-controller="WorkflowListController as controller">
    <form class="navbar-form navbar-default  navbar-fixed-top" role="search" style="margin-top: 85px; padding: 10px 5px;">
    <div class="row">
      <div class="col-sm-2">
        <ul class="nav navbar-nav navbar-left">
          <li class="dropdown">
            <label for="sortBySelector" >Sort by:</label>
            <select class="form-control" id="sortBySelector" ng-model="sortBy" ng-init="sortBy = 'name'" >
              <option value="name" >Name</option>
              <option value="owner">Author</option>
            </select>
          </li>
        </ul>
      </div>
      <div class="col-sm-6">
        <div class="input-group" style="width: 100%;margin-bottom: 4px;">
          <input type="text" class="form-control" placeholder="Search for..." ng-model="searchFor">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="applySearch()">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
        </div><!-- /input-group -->
        <div class="currentSearchTagContainer">
          <i class="tooltip-tag-cat" ng-repeat="item in filters">
            <span class="tooltip-tag-cat-name"> {{item}} </span>
          </i>
        </div>
      </div>
      <div class="col-sm-4">
        Popular:
        <i class="tooltip-tag-cat" ng-repeat="item in tags | orderBy:'-times' | limitTo: 4">
          <span class="tooltip-tag-cat-times">{{item.times}}</span><span class="tooltip-tag-cat-name"> {{item.name}} </span>
        </i>
      </div>
    </div>
  </form>

  <div class="row workflow-card-container" id="workflowContainer">
    <workflow-card  ng-repeat="workflow in workflows | filter:filterWorkflows() | orderBy : sortBy"></workflow-card>
  </div>
</div>
