<div class="workflow-card">
  <div class="workflow-card-body">
    <h2 class="workflow-card-name">{{workflow.name}}</h2>
    <i class="fa fa-spinner fa-pulse fa-fw" ng-if="workflow.annotation === undefined"></i>
    <div class="workflow-card-description" ng-if="workflow.annotation !== undefined">{{workflow.annotation || "No description provided"}}</div>
    <div class="workflow-card-tags-list">
      <i class="tag {{getTagColor(tag)}}" ng-repeat="tag in workflow.tags | orderBy">{{tag}}</i>
    </div>
  </div>
  <div class="workflow-card-author">
    Created by <span style="color:#0F8CDA;">{{workflow.owner}}</span>
  </div>
  <a class="btn btn-info runWorkflowButton" ui-sref="workflowDetail({id: workflow.id})">
    <i class="fa fa-info-circle"></i> More details
  </a>
</div>
