<div ng-controller="WorkflowRunController as controller">
  <nav class="navbar navbar-default navbar-top title-bar">
    <h1>Workflows <small>Run workflow</small></h1>
  </nav>
  <div class="workflow-run-container">
    <div class="panel panel-container">
      <h2>{{workflow.name}}</h2>
      <p><b>Author: </b>{{workflow.owner}}</p>
      <p><b>Description: </b>{{workflow.annotation}}</p>
    </div>
    <form  class="panel panel-container" name='workflowRunForm' novalidate ng-submit="controller.executeWorkflowHandler()">
      <div class="progressIndicator row">
        <div class="background-bar"></div>
        <div class="progressStep col-md-3"
        ng-repeat="(key, value) in {1 : 'Input selection', 2 : 'Custom parameters', 3: 'Run workflow', 4: 'Results'}"
        ng-class="(invocation.current_step == key)?'currentStep':((invocation.current_step > key)?'doneStep':'')">
        <span class="stepNumber">{{key}}</span>
        <span class="stepDone"><i class="fa fa-check" aria-hidden="true"></i></span>
        <p>{{value}}</p>
      </div>
    </div>
    <div class="progressStepContainer">
      <div class="progressStep" ng-show="invocation.current_step == 1" ng-form="step1form">
        <h3>Input data:</h3>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut scelerisque risus. Donec suscipit condimentum rutrum. Quisque enim mauris, molestie dignissim congue a, rutrum at nibh. Nullam convallis consectetur sapien at eleifend. Nullam eu feugiat felis. Sed suscipit nec turpis vitae efficitur. Nullam aliquam mi id felis cursus, a dictum mauris efficitur.</p>
        <p class="invalidFormMessage" ng-show="step1form.$invalid">Some of the required fields are not valid or are empty. Please check the form and try again!</p>
        <span ng-hide="loadingComplete"><i class="fa fa-cog fa-spin fa-2x fa-fw margin-bottom"></i> Generating panel...</span>
        <div ng-show="loadingComplete">
          <workflow-step ng-repeat="step in workflow.steps | filter:{type:'data_input'}"></workflow-step>
        </div>
      </div>
      <div class="progressStep" ng-show="invocation.current_step == 2" ng-form="step2form">
        <h3>Other steps:</h3>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut scelerisque risus. Donec suscipit condimentum rutrum. Quisque enim mauris, molestie dignissim congue a, rutrum at nibh. Nullam convallis consectetur sapien at eleifend. Nullam eu feugiat felis. Sed suscipit nec turpis vitae efficitur. Nullam aliquam mi id felis cursus, a dictum mauris efficitur.</p>
        <p class="invalidFormMessage" ng-show="step2form.$invalid">Some of the required fields are not valid or are empty. Please check the form and try again!</p>
        <div ng-show="loadingComplete" >
          <workflow-step ng-repeat="step in workflow.steps | filter:{type:'!data_input'}"></workflow-step>
        </div>
      </div>
      <div class="progressStep" ng-show="invocation.current_step == 3">
        <h1 class="workflow-state-title">{{invocation.state_text}}</h1>
        <h1 style=" text-align: center; font-size: 70px; color: #009CDE; "></h1>
        <div class="description" style="text-align: center;"><h4>This is a summary of the input data and the custom values that you chose for this workflow.</h4>
          <p>
            <b style="color: #E88080; width: 150px; margin-right: 10px; display: inline-block; ">Is something wrong?</b>
            Just go back and choose the correct value.
          </p>
          <p><b style=" color: #54BF78; width: 150px; margin-right: 10px; display: inline-block; ">Ready to launch?</b>
            Click on "Run workflow" to start your work!
          </p>
          <div id="workflow-summary"></div>
        </div>
      </div>
      <div class="progressStep" ng-show="invocation.current_step == 4">
        <div ng-show="invocation.state === 'sending'">
          <img src="css/startup.png">
          <h1 class="workflow-state-title">{{invocation.state_text}}</h1>
        </div>
        <div ng-show="invocation.state === 'working'">
          <img src="css/working.png">
          <h1 class="workflow-state-title">{{invocation.state_text}}</h1>
          <span ng-repeat="step in workflow.steps">
            <b>{{step.name}}</b>
            <b>{{step.state}}</b>
          </span>
        </div>
        <div ng-show="invocation.state === 'success'">
          <img src="css/success.png">
          <h1 class="workflow-state-title">{{invocation.state_text}}</h1>
          <span ng-repeat="step in workflow.steps">
            <b>{{step.name}}</b>
            <b>{{step.state}}</b>
          </span>
        </div>
        <div ng-show="invocation.state === 'error'">
          <img src="css/error.png">
          <h1 class="workflow-state-title">{{invocation.state_text}}</h1>
          <span ng-repeat="step in workflow.steps">
            <b>{{step.name}}</b>
            <b>{{step.state}}</b>
          </span>
        </div>
      </div>
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom progressNavigator" >
      <div class="container">
        <button type="button" class="btn btn-danger btn-lg navbar-left" ng-click="controller.cancelButtonHandler();" ng-show="invocation.current_step == 1">
          <i class="fa fa-chevron-left"></i> Cancel and go back
        </button>
        <button type="button" class="btn btn-default btn-lg navbar-left" ng-click="controller.backButtonHandler();" ng-show="invocation.current_step > 1">
          <i class="fa fa-chevron-left"></i> Previous step
        </button>
        <a class="btn btn-lg" ng-click="controller.backButtonHandler();;" ng-show="invocation.current_step > 1" style="color: #E88080;">or Cancel</a>
        <button type="button" class="btn btn-info btn-lg navbar-right"
        ng-disabled="(invocation.current_step == 1 && step1form.$invalid) || (invocation.current_step == 2 && step2form.$invalid)"
        ng-click="controller.nextStepButtonHandler()"
        ng-show="invocation.current_step < 3">
        <i class="fa fa-chevron-right"></i> Next step
      </button>
      <button type="submit" class="btn btn-success btn-lg navbar-right" ng-show="invocation.current_step == 3">
        <i class="fa fa-bolt fa-fw" ></i> Run workflow!
      </button>
    </div>
  </nav>
</form>
</div>
</div>
