<div ng-controller="UserSessionController as controller" ng-init="isLogin=true">
  <form name="signInForm" class="form-signin" novalidate ng-submit="controller.signInButtonHandler()" ng-show="isLogin">
    <h3 class="form-signin-heading">Welcome Back! Please Sign In</h3>
    <hr class="colorgraph"><br>
    <input type="text" class="form-control" ng-model="email"  placeholder="Email" required="" autofocus="" />
    <input type="password" class="form-control" ng-model="password" placeholder="Password" required=""/>
    <a href="javascript:void(0);" class="text-info" ng-click="isLogin=false">Create an account</a>
    <button type="submit" class="btn btn-success btn-lg navbar-right" ng-disabled="signInForm.$invalid">
      <i class="fa fa-bolt fa-fw" ></i> Sign in
    </button>
  </form>
  <form name="signUpForm" class="form-signin" novalidate ng-submit="controller.signUpButtonHandler()" ng-show="!isLogin">
    <h3 class="form-signin-heading">Create your Galaxy account</h3>
    <hr class="colorgraph"><br>
    <input type="email" class="form-control" ng-model="email" placeholder="example@email.com" required="" autofocus="" />
    <input type="text" class="form-control" ng-model="username" placeholder="Your name" required="" autofocus="" />
    <input type="password" class="form-control" ng-model="password" placeholder="Password" required="" style="margin-bottom: 0; margin-top: 20px;"/>
    <input type="password" class="form-control" ng-model="passconfirm" placeholder="Repeat the password" required=""/>
    <a href="javascript:void(0);" class="text-danger" ng-click="isLogin=true">Cancel</a>
    <button type="submit" class="btn btn-success btn-lg navbar-right" ng-disabled="signUpForm.$invalid">
      <i class="fa fa-bolt fa-fw" ></i> Sign up
    </button>
  </form>


</div>
