<div ng-controller="UserSessionController as controller" ng-init="isLogin=true;">
	<form name="signForm" class="form-signin" novalidate ng-submit="controller.signFormSubmitHandler()">
		<h3 class="form-signin-heading">{{(isLogin)?"Welcome back! Please Sign In":"Create your Galaxy account"}}</h3>
		<hr class="colorgraph"><br>
		<div class="well">
			<p>This Galaksio instance is connected to the following Galaxy server:</p>
			<code style="text-align: center;display: block;">
				<a href="{{GALAXY_SERVER_URL}}">{{GALAXY_SERVER_URL}}</a>
			</code>
			<p>Start a new session using your Galaxy user and password as usual, or create a new account.</p>
		</div>
		<input name="email" type="email" class="form-control" ng-model="userInfo.email" placeholder="Email" required="" autofocus="" />
		<span>
			<span class="text-danger" ng-show="signForm.email.$error.required">Required!</span>
			<span class="text-danger" ng-show="signForm.email.$error.email">Not valid email!</span>
		</span>

		<input name="username" type="text" class="form-control" placeholder="Your name" required="" style="margin-top: 10px;"
		ng-model="userInfo.username"
		ng-if="!isLogin"
		ng-pattern="/^[a-z0-9\-]+$/"
		/>
		<span ng-if="!isLogin">
			<span class="text-danger" ng-show="signForm.username.$error.required">Required!</span>
			<span class="text-danger" ng-show="signForm.username.$error.pattern">Public name must contain only lower-case letters, numbers and '-'</span>
		</span>
		<input name="password" type="password" id="mainPass" class="form-control" placeholder="Password" style="margin-bottom: 0; margin-top: 20px;" required=""
		ng-model="userInfo.password"
		ng-minlength="6"
		/>
		<span ng-if="!isLogin">
			<span class="text-danger" ng-show="signForm.password.$error.required">Required!</span>
			<span class="text-danger" ng-show="signForm.password.$error.minlength">Password must be at least 6 characters.</span>
		</span>

		<input name="passconfirm" type="password" class="form-control" placeholder="Repeat the password" style="margin-bottom: 0; margin-top: 10px;" required=""
		ng-model="userInfo.passconfirm"
		ng-init=""
		ng-minlength="6"
		ng-minlength="50"
		ng-if="!isLogin"
		ng-pwcheck="mainPass"
		/>
		<span ng-if="!isLogin">
			<span class="text-danger" ng-show="signForm.passconfirm.$error.pwmatch">Passwords are different.</span>
		</span>
		<div style="margin-top: 30px;">

			<!-- Oskar - Change Create new account to Galaxy link <a href="javascript:void(0);" class="text-info" ng-show="isLogin" ng-click="isLogin=false">Create an account</a> -->
			<div style="margin-bottom: 20px">
				<span>Don't have an account? No worries, register an account </span>
				<a href="{{GALAXY_SERVER_URL}}" target="_blank" class="text-info" ng-show="isLogin">here</a>
				<span>and come back here when you're done!</span>
			</div>
			<a href="javascript:void(0);" class="text-danger" ng-show="!isLogin" ng-click="isLogin=true">Cancel</a>
			<button type="submit" class="btn btn-success btn-lg navbar-right" ng-disabled="signForm.$invalid">
				<i class="fa fa-bolt fa-fw" ></i> Sign {{(isLogin)?"in":"up"}}
			</button>
		</div>
	</form>
</div>
