<div class="histories-container" ng-controller="HistoryListController as controller">
	<div class="col-lg-6">
		<div class="panel panel-container" ng-hide="showHelp===false" >
			<h3>About histories</h3>
			<p class="description">
				When data is uploaded from your computer or analysis is done on existing data using Galaxy, each output from those steps generates a dataset. These datasets (and the output datasets from later analysis on them) are stored by Galaxy in <b>Histories</b>.
			</p>
			<a href="https://wiki.galaxyproject.org/Histories" target="_blank"><i class="fa fa-question-circle"></i> Learn more about histories</a>
		</div>
		<div class="panel panel-container">
			<div>
				<p style=" float: left; line-height: 30px; "><i class="fa fa-info"></i> Click on one history name to get more details.</p>
				<a class="btn btn-default btn-sm navbar-right" ng-click="controller.retrieveAllHistoriesList(true, false, controller.retrieveCurrentHistoryData);">
					<i class="fa fa-refresh fa-fw" ></i> Refresh
				</a>
			</div>
			<table class="table historyListTable">
				<thead>
					<tr style="text-align:center;">
						<th>History name</th>
						<th>Creation date</th>
						<th>Last updated</th>
						<th>Current</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-if="isLoading === true">
						<td colspan="4" style="text-align:center;">
							<i class="fa fa-spinner fa-pulse fa-fw"></i> Loading histories...
						</td>
					</tr>
					<tr ng-repeat="history in histories" ng-click="controller.setDisplayedHistory(history)" ng-class="(history === currentHistory)?'current':''">
						<td>{{history.name}}</td>
						<td>
							<i class="fa fa-spinner fa-pulse fa-fw" ng-if="history.create_time === undefined"></i>
							<span ng-if="history.create_time !== undefined">{{history.create_time | date:'dd/MM/yyyy HH:mm'}}</span>
						</td>
						<td>
							<i class="fa fa-spinner fa-pulse fa-fw" ng-if="history.update_time === undefined"></i>
							<span ng-if="history.update_time !== undefined">{{history.update_time | date:'dd/MM/yyyy HH:mm'}}</span>
						</td>
						<td>
							<i class="fa fa-check-circle fa-2x" ng-if="history === currentHistory"></i>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-lg-6" ng-show="displayedHistory !== undefined">
		<div class="panel panel-container">
			<a class="btn btn-success btn-sm navbar-right" ng-hide="displayedHistory === currentHistory" ng-click="controller.setCurrentHistory(displayedHistory)">
				<i class="fa fa-exchange fa-fw" ></i> Switch to this history
			</a>
			<a class="btn btn-primary btn-sm navbar-right" ng-hide="displayedHistory !== currentHistory" ng-click="controller.showUploadDatasetsDialog();">
				<i class="fa fa-upload fa-fw" ></i> Upload new files
			</a>
			<p><b>History name: </b>{{displayedHistory.name}}</p>
			<p><input type="checkbox" ng-model="showDeleted"</input> Show hidden and deleted datasets</p>
			<dataset-list-panel></dataset-list-panel>
		</div>
	</div>
	<!-- child of the body tag -->
	<span id="top-link-block" class="hidden">
		<a href="#top" class="well well-sm" onclick="$('html,body').animate({scrollTop:0},'slow');return false;">
			<i class="glyphicon glyphicon-chevron-up"></i> Back to Top
		</a>
	</span><!-- /top-link-block -->
</div>
